body{
  background-color:#778899;
}
.form-enter{
  padding-bottom: 20px;
}
.shake{
  animation: shaking 0.82s;
}

@keyframes shaking {
  10%, 90% { transform: translate3d(-2px,0,0); }
  20%, 80% { transform: translate3d(4px,0,0); }
  30%, 50%, 70% {transform: translate3d(-7px,0,0); }
  40%, 60% {transform: translate3d(7px,0,0); }
}
