#accountForm {
  float: right;
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
}
#header{
  margin-bottom:0;
}
#sidebar{
  text-align: center;
  background-color: #333;
}
.sidebar__links{
  color:#fff;
}


.nav-stacked>li>a:active{
  color: blue;
}
.nav-stacked>li>a:focus{
  background:#fff;
}
.nav-stacked>li>a:hover{
  background:#fff;
  transition: all 0.7s;
}

.label-form{
  margin-top: 5px;
}

.menuBtn{
  margin-top: 0;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
}
.fieldsetHeader{
  padding-top: 15px;
  margin-bottom:5px;
}

@media screen and (min-width:768px){
  #accountForm{
    width: 85%;
    padding-right: 42.5%;
  }
  .menuBtn{
    display: none;
  }
  #sidebar{
    text-align: left;
    width: 15%;
    float: left;
    margin-left: -15px;
    padding-right: 0;
  }
  .sidebar__links{
    border-left: none;
  }
  .nav-stacked{
    height: 100vh;
    margin-top: 15px;
  }

  #containerForm{
    margin-left:15%;
  }
  #adminSettings{
    float: right;
  }
}
