
#accountForm {
  float: right;
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
}
#header{
  margin-bottom:0;
}
#sidebar{
  text-align: center;
}
.sidebar__links{
  border: 1px solid;
  color:#333;
}

.nav>li>a:focus{
  background: #EE82EE;
  color:#333;
  border: none;
}
.nav>li>a:hover{
  background: #EE82EE;
  color:#333;
  transition: all 1s;
}

.menuBtn{
  margin-top: 0;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
}
.fieldsetHeader{
  padding-top: 15px;
  margin-bottom:5px;
}

@media screen and (min-width:768px){
  #accountForm{
    width: 85%;
    padding-right: 42.5%;
  }
  .menuBtn{
    display: none;
  }
  #sidebar{
    display:block;
    text-align: left;
    margin-top: 75px;
    width: 15%;
    float: left;
    margin-left: -15px;
    padding-right: 0;
  }
  .sidebar__links{
    border-left: none;
  }

  #containerForm{
    margin-left:15%;
  }
  #adminSettings{
    float: right;
  }
}
