body{
  background-color: #fff;
}
.accounts {
  width: 100%;
}
.accounts__link {
  color: inherit;
}
.navbar-inverse{
  border-radius: 1px;
}
.label-form{
  font-size: 18px;
  font-weight: normal;
}
#alertMessage{
  display: none;
  margin-top: 20px;
}
.errorWrapper{
  display: none;
  background: white;
  text-align: center;
  width: 100%;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#errorBlock{
  display: block;
  height: 100px;
  background: url('/static/images/error.png') center no-repeat;
  font-size: 17px;
}
#errorMessage{
  display: none;
  margin-top:15px;
}
.form-inline .btn{
  margin-top: 10px;
}
.darken{
  background: rgba(0,0,0,0.6);
}
@media screen and (min-width:1024px) {
  .errorWrapper{
    width: 400px;
  }
  .form-inline .btn{
    margin-top:0;
    margin-left: 5px;
  }
  .accounts{
    padding-right: 80%;
  }
}
