body{
  background-color: #fff;
}
.accounts {
  width: 100%;
}
.accounts__link {
  color: inherit;
}
.navbar-inverse{
  border-radius: 1px;
}
#errorBlock{
  display: none;
  background-color:lightgrey;
  width: 100%;
  height: 200px;
  border-radius: 8px;
  text-align: center;
  font-size: 17px;
  margin-top:50px;
}
@media screen and (min-width:1024px) {
  #errorBlock{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
