.containerForm{
  padding-top: 30px;
}
#accountForm {
  float: right;
  width: 100%;
  padding: 0 10% 70px 10%;
}
#alertMessage{
  display: none;
  margin-bottom: 15px;
}
.text-muted{
  font-size: 15px;
  margin-top: 10px;
}
#journal{
  display: none;
}
@media screen and (min-width:768px){
  #accountForm{
    width: 60%;
    margin: 0 auto;
    padding-right: 50px;
  }
  .containerForm{
    width: 80%;
  }
}
