#accountForm {
  float: right;
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
}
#header{
  margin-bottom:0;
  border-radius: 1px;
}
#sidebar{
  text-align: center;
  background-color: #333;
}
#alertMessage{
  display: none;
  margin-bottom: 0;
}
.sidebar__links{
  color:#fff;
}
.sidebar__links:active{
  background:#fff !important;
}
.sidebar__links:focus{
  background:#fff !important;
}
.sidebar__links:hover{
  background:#fff !important;
  transition: all 0.7s !important;
}
.menuBtn{
  margin-top: 0;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
}
.fieldsetHeader{
  padding-top: 15px;
  margin-bottom: 15px;
}
.errorWrapper{
  display: none;
  background: white;
  text-align: center;
  width: 100%;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#errorBlock{
  display: block;
  height: 100px;
  background: url('/static/images/error.png') center no-repeat;
  font-size: 17px;
}
.darken{
  background: rgba(0,0,0,0.6);
}
@media screen and (min-width:768px){
  #accountForm{
    width: 85%;
    padding-right: 42.5%;
  }
  .menuBtn{
    display: none;
  }
  .errorWrapper{
    width: 400px;
  }
  #sidebar{
    text-align: left;
    width: 15%;
    float: left;
    margin-left: -15px;
    padding-right: 0;
    padding-top: 15px;
    height: 100vh !important;
  }
  .sidebar__links{
    border-left: none;
  }
  .containerForm{
    margin-left:15%;
  }
}
