.label-form{
  font-size: 18px;
  font-weight: normal;
}
#alertMessage{
  display: none;
  margin-top: 20px;
}
.errorWrapper{
  display: none;
  background: white;
  text-align: center;
  width: 100%;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#errorBlock{
  display: block;
  height: 100px;
  background: url('/static/images/error.png') center no-repeat;
  font-size: 17px;
}
#errorMessage{
  display: none;
  margin-top:15px;
}
.form-inline .btn{
  margin-top: 10px;
}
.table-striped{
  padding-top: 20px;
}
.form-inline .btn {
  position: relative;
  top:4px;
  margin-left: 10px;
}
.darken{
  background: rgba(0,0,0,0.6);
}

@media screen and (max-width:338px ) {
  .form-inline .btn{
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

@media screen and (min-width:1024px) {
  .errorWrapper{
    width: 400px;
  }
  .form-inline .btn{
    margin-bottom:18px;
  }
  .label-form{
    margin-right: 20px;
  }
}
