#accountForm {
  float: right;
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
}
#alertMessage{
  display: none;
  margin-bottom: 0;
}
.fieldsetHeader{
  padding-top: 10px;
  margin-bottom: 15px;
}
@media screen and (min-width:768px){
  #accountForm{
    width: 80%;
    padding-right: 42.5%;
    margin-top: 10px;
  }
  .containerForm{
    margin-left:15%;
  }
}
