#accountForm {
  float: right;
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
}
#accountForm .btn{
  margin-top: 10px;
}
#header{
  margin-bottom:0;
}
#sidebar{
  text-align: center;
  background-color: #333;
}
#errorMessage{
  display: none;
  margin-bottom: 0;
}
.sidebar__links{
  color:#fff;
}
.navbar-inverse{
  border-radius: 1px;
}
.nav-stacked>li>a:active{
  background:#fff;
}
.nav-stacked>li>a:focus{
  background:#fff;
}
.nav-stacked>li>a:hover{
  background:#fff;
  transition: all 0.7s;
}
.label-form{
  margin-top: 5px;
}
.label-form::first-letter{
  text-transform: uppercase;
}
.menuBtn{
  margin-top: 0;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
}
.fieldsetHeader{
  padding-top: 15px;
  margin-bottom:5px;
}
.errorWrapper{
  display: none;
  background: white;
  text-align: center;
  width: 100%;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#errorBlock{
  display: block;
  height: 100px;
  background: url('/static/images/error.png') center no-repeat;
  font-size: 17px;
}
@media screen and (min-width:768px){
  #accountForm{
    width: 85%;
    padding-right: 42.5%;
  }
  .menuBtn{
    display: none;
  }
  .errorWrapper{
    width: 400px;
  }
  #sidebar{
    text-align: left;
    width: 15%;
    float: left;
    margin-left: -15px;
    padding-right: 0;
  }
  .sidebar__links{
    border-left: none;
  }
  .nav-stacked{
    height: 100vh;
    margin-top: 15px;
  }
  #containerForm{
    margin-left:15%;
  }
}
