#addParameterForm{
  margin-top: 20px;
}
.form-inline .btn{
  margin-top:5px;
}
#alertMessage{
  display: none;
  text-align: center;
  margin-top: 20px;
}
.errorWrapper{
  display: none;
  background: white;
  text-align: center;
  width: 100%;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.table-striped{
  width: 100%;
}
.formHeader{
  position: relative;
  top: 15px;
  margin-top: 20px;
  font-weight: bold;
}
.form-inline .btn{
  margin-bottom:20px;
  margin-left: 12px;
  width: 35%;
}
#errorBlock{
  display: block;
  height: 100px;
  background: url('/static/images/error.png') center no-repeat;
  font-size: 17px;
}
.darken{
  background: rgba(0,0,0,0.6);
}
.tableCell{
  display: none;
}
#noParamWrapper{
  padding-top: 30px;
}
#noParameters{
  border-top: 2px solid darkgray;
  padding-top: 20px;
  color: darkgray;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
#parametersTable{
  display: none;
}
@media screen and (max-width:338px ) {
  .form-inline .btn{
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
@media screen and (min-width:768px){
  .errorWrapper{
    width: 400px;
  }
  .form-inline .btn{
    margin-top:0;
  }
  .label-form{
    display:block;
    margin-right:150px;
  }
  .table-striped{
    position: absolute;
    left: 47.8%;
    margin-top:50px;
    width: 309px;
  }
  .formHeader{
    margin-left: 47.8%;
  }
  .form-inline .btn{
    margin-bottom: 0;
    width: 16%;
  }
  .tableCell{
    display: table-cell;
  }
  #addParameterForm{
    margin-left: 47.8%;
    text-align: center;
  }
  #alertMessage{
    margin: auto;
    margin-top: 20px;
    width: 25%
  }
}
