#alertMessage{
  display: none;
  text-align: center;
  margin-top: 20px;
}
.label-form{
  font-size: 18px;
  font-weight: normal;
}
.errorWrapper{
  display: none;
  background: white;
  text-align: center;
  width: 100%;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.table-striped{
  width: 100%;
}
.container-form{
  padding: 20px 10px 40px;
}
.table-container{
  padding: 0 10px 0;
}
#errorBlock{
  display: block;
  height: 100px;
  background: url('/static/images/error.png') center no-repeat;
  font-size: 17px;
}
.darken{
  background: rgba(0,0,0,0.6);
}
.tableCell{
  display: none;
}
#noParamWrapper{
  padding-top: 30px;
}
#noParameters{
  border-top: 2px solid darkgray;
  padding-top: 20px;
  color: darkgray;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
#parametersTable{
  display: none;
}

@media screen and (max-width:328px) {
  .col-auto .btn{
    margin-top: 10px;
  }
}

@media screen and (min-width:1024px){
  .errorWrapper{
    width: 400px;
  }
  .table-striped{
    position: relative;
    left:15px;
    width: 80%;
  }
  .formHeader{
    margin-left: 47.8%;
  }
  .tableCell{
    display: table-cell;
  }
  .container-form{
    padding-left: 20%;
  }
  #alertMessage{
    margin: auto;
    margin-top: 20px;
    width: 25%
  }
}
