body{
  background-color: #778899;
}

input[type="text"],
input[type="password"] {
  font-size: 16px;
}



#loginContainer {
  padding-top: 25px;
}

.shake{
  animation: shaking 0.82s;
}

@keyframes shaking {
  10%, 90% { transform: translate3d(-2px,0,0); }
  20%, 80% { transform: translate3d(4px,0,0); }
  30%, 50%, 70% {transform: translate3d(-6px,0,0); }
  40%, 60% {transform: translate3d(6px,0,0); }
}

@media screen and (min-width:1024px) {
  #loginContainer {
    padding-top: 150px;
    width: 350px;
    margin: 0 auto;
  }
}
