#header{
  margin-bottom:0;
  border-radius: 1px;
}
#sidebar{
  text-align: center;
  background-color:#343a40 !important;
}
.sidebar__links{
  color:#fff;
}
.sidebar__activeLink{
  color: #23527c;
  background:#fff !important;
}
.sidebar__links:hover{
  background:#fff !important;
  transition: all 0.7s !important;
}
.menuBtn{
  margin-top: 0;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
}

.icons{
  padding-top: 20px;
  text-align: center;
}
.icons__link{
  padding:20px 10px 20px 10px !important;
}
.icons__img{
  width: 50px !important;
}
@media screen and (min-width:1024px){
  .menuBtn{
    display: none;
  }
  #sidebar{
    text-align:left;
    width: 20%;
    float: left;
    display: block;
    margin-left: -15px;
    padding-right: 0;
    height: 100vw !important;
  }
  .sidebar__links{
    border-left: none;
    margin-left: 15px;
    font-size: 15px;
  }
}
