.form-header{
  padding-bottom: 10px;
}
#addTrunkForm {
  width: 100%;
  padding: 20px 100px 80px 10px;
}
#addTrunkForm .row{
  padding-left: 15px;
  padding-right: 15px;
}
#editTrunkForm{
  padding: 20px 100px 20px 10px;
}
hr{
  position: relative;
  width: 100%;
  border-color: black;
}
.form-row{
  display: block;
}
#alertMessage{
  display: none;
}
.col-auto:first-child{
  padding-bottom: 10px;
}
.text-muted{
  display: inline-flex;
  padding: 7px;
  height: 10px;
}
.new-trunk{
  animation: new-trunk-animation 0.5s linear;
}
.saveMsg{
  transition: all 0.6s;
  opacity: 0;
}
#noTrunks{
  display: none;
  position:absolute;
  left: 38%;
  color: darkgray;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
.row{
  display: block !important;
}
.btns{
  display: flex !important;
  padding:15px 5.5px 50px !important;;
}
.btns>button{
  min-width: 150px;
}
.editBtn{
  margin-left: 5px !important;
}
@keyframes new-trunk-animation {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
@media screen and (min-width:1024px){
  #addTrunkForm,#editTrunkForm{
    float: right;
    width:70%;
  }
  #addTrunkForm{
    padding: 20px;
    padding-bottom: 50px;
  }
  #editTrunkForm{
    padding: 50px 20px 20px 20px;
  }
  .form-group{
    padding-left: 15px;
  }
  .form-row{
    display: flex;
  }
  .text-muted{
    padding-top: 7px;
  }
  .btns{
    padding-top: 0 !important;
  }
  .col-auto:nth-child(2){
    padding-left: 10px !important;
  }
  #noTrunks{
    left:50%
  }
  #addTrunkForm .btn{
    margin-top: 0;
    width: 305px !important;
  }
  hr{
    width: 70%;
    top:220px;
    left: 120px;
  }
  #add{
    width: 220px !important;
    position: relative;
    top:30px;
    left: 10px;
    height: 40px;
  }
  #addTrunkForm .row{
    padding: 0;
  }
  .row{
    display: flex !important;
  }
  #alertMessage{
    text-align: center;
    width: 397px;
  }
}
