#addTrunkForm,#editTrunkForm {
  float: right;
  width: 100%;
  padding-left: 25px;
  padding-right: 30px;
}
#addTrunkForm .btn{
  padding-top: 10px;
  margin-bottom: 10px;
}
#addTrunkForm{
  padding-top: 20px;
}
#addTrunkForm .row{
  padding-left: 15px;
  padding-right: 15px;
}
.edit-form{
  margin-left: 15px;
  margin-bottom: 30px !important;
}
hr{
  clear: both;
  width: 100%;
  border-color:rgb(128,128,128);
  margin-top:200px;
}
.editBtn{
  width: 105.5px;
}
#alertMessage{
  display: none;
}
.delete-trunk{
  animation: delete-trunk-animation 0.4s linear;
}
.new-trunk{
  animation: new-trunk-animation 0.5s linear;
}
.saveMsg{
  transition: all 0.6s;
  opacity: 0;
}
#noTrunks{
  display: none;
  position:absolute;
  left:40%
}
.row{
  display: block !important;
}
.row .text-muted{
  margin-left: 5px;
  margin-top: 7px;
}
.fix-header{
  margin-right: 15px;
}
@keyframes new-trunk-animation {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes delete-trunk-animation {
  0%{
    transform:scale(1);
  }
  100%{
    transform: scale(0);
  }
}
@media screen and (min-width:768px){
  #addTrunkForm,#editTrunkForm{
    width:66%;
  }
  #editTrunkForm{
    margin-right: 15px;
  }
  #addTrunkForm{
    margin-bottom: 20px;
  }
 .form-group{
    margin-left: 15px;
  }
  #noTrunks{
    left:55%
  }
  #addTrunkForm .btn{
    margin-top: 0;
    width: 210px;
  }
  .btn{
    margin-top:0;
  }
  #add{
    width: 220px !important;
    position: relative;
    top:30px;
    left: 10px;
    height: 40px;
  }
  #editTrunkForm .btn{
    margin-left: 10px;
  }
  #addTrunkForm .row{
    padding-left:0;
    padding-right:0;
  }
  .row{
    display: flex !important;
  }
  #alertMessage{
    text-align: center;
    width: 397px;
  }
  hr{
    width: 100%;
    margin-bottom: 40px;
    clear: none;
  }
  .edit-form input[type='text']{
    width: 100%;
    margin-bottom: 0;
  }
}
@media screen and (min-width:768px) and (max-width:1023px){
  #addTrunkForm,#editTrunkForm{
    width:80%;
  }
  input{
    width:150px !important;
  }
  }
}
