#userForm {
  float: right;
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
  }
#alertMessage{
  display: none;
  margin-bottom: 10px;
}
#alertPassword{
  display: none;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 0;
}
.nav-tabs{
  margin-top: 10px;
  margin-bottom: 20px;
}
#reset{
  margin-left: 31%;
=======
  margin-top: 20px;
}
#reset{
  margin-left: 34%;
  width: 50%;
  height: 50px;
  position: relative;
  top:10px;
  left: 21.7%;
  border-bottom: 0;
  }
  #reset{
    width: 251px;
    margin-left:280px;
  }
  #alertPassword{
    width: 251px;
    margin-left: 40.5%;
  }
  .containerForm{
    margin-left:15%;
  }
}
