#userForm {
  width: 100%;
  padding-right: 20%;
}
#alertMessage{
  display: none;
  text-align: center;
  margin-bottom: 10px;
}
#alertPassword{
  display: none;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 0;
}
.nav-tabs{
  margin-top: 10px;
  margin-bottom: 20px;
}
#reset{
  width: 251px;
  margin-left: 15%;
}
#alertPassword{
  width: 251px;
  margin-left: 15%;
  margin-bottom: 20px;
}
.containerForm{
  margin-left:15%;
}
@media screen and (min-width: 769px) {
  #userForm {
    float: none;
    width: 60%;
    margin: 0 auto;
    padding-right:150px;
    padding-left: 150px;
  }
  #alertPassword{
    width: 250px;
    margin-left: 43.9%;
    margin-bottom: 20px;
  }
  #reset{
    position: relative;
    left: 25%;
    margin-left: 0;
  }
}
