#addUserForm{
  margin-top: 5px;
}
.form-inline .btn{
  margin-top:5px;
  margin-left: 10px;
}
.formHeader{
  margin-bottom: 0;
  margin-top: 20px;
  font-weight: bold;
}
#alertMessage{
  display: none;
  text-align: center;
  margin-top: 20px;
}
.errorWrapper{
  display: none;
  background: white;
  text-align: center;
  width: 100%;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.table-striped{
  width: 100%;
}
#errorBlock{
  display: block;
  height: 100px;
  background: url('/static/images/error.png') center no-repeat;
  font-size: 17px;
}
.darken{
  background: rgba(0,0,0,0.6);
}
@media screen and (min-width:768px){
  .errorWrapper{
    width: 400px;
  }
  .form-inline .btn{
    margin-top:0;
  }
  .formHeader{
    margin-left: 47.8%;
  }
  .table-striped{
    position: absolute;
    left: 48%;
    margin-top:40px;
    width: 305px;
  }
  #addUserForm{
    margin-left: 47.8%;
    text-align: center;
  }
  #alertMessage{
    margin: auto;
    margin-top: 20px;
    width: 25%
  }
}
