#userForm {
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
}
#alertMessage{
  display: none;
  text-align: center;
  margin-bottom: 10px;
}
#alertPassword{
  display: none;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 0;
}
.containerForm{
  padding-top: 20px;
}
#alertPassword{
  width: 251px;
  margin-left: 15%;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  #userForm {
    width: 60%;
    margin: 0 auto;
  }
  #alertPassword{
    width: 250px;
    margin-left: 43.9%;
    margin-bottom: 20px;
  }
  .containerForm{
    width: 85%;
    position: relative;
    left: 15%;
  }
}
