#userForm {
  float: right;
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
}
#alertMessage{
  display: none;
  margin-bottom: 0;
}
#header{
  margin-bottom:0;
  border-radius: 1px;
}
@media screen and (min-width:768px){
  #userForm{
    width: 80%;
    padding-right: 40%;
  }
  .containerForm{
    margin-left:15%;
  }
}
